<div class="page-header">
  <h1><%= @user.full_name %></h1>  
</div>
<% if signed_in? %>
  <div id="friend-status">
    <% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user)%>
      <%= link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user), class: "article-btn" %>
    <% else %>
      <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: "article-btn" %>
    <% end -%>  
  </div>
<% end -%>  
<br>

<% if @statuses %>
  <% @statuses.each do |status| %>
    <div class="well">
      <%= status.content %>
      <hr>
      <%=link_to status.created_at.to_time.strftime('%B %e at %l:%M %p'), status_path(status)%>
    </div>
  <% end -%>
<% end -%>