<div class="page-header">
  <h1>All of the Statuses</h1>
</div>

<%= link_to 'Post a new Status', new_status_path, class: "article-btn" %>

<% @statuses.each do |status| %>
  <% if signed_in? && !current_user.has_blocked?(status.user) || !signed_in? %>
    <div class="status">
      <div class="row">
        <br>
        <div class="col-md-1">
          <%= image_tag status.user.gravatar_url, class:"img" %>
        </div>
        <div class="col-md-7">    
          <strong><%= link_to status.user.full_name, profile_path(status.user) %></strong>
          
          <p><%= status.content.truncate(100) %></p>
          <div class="meta">
            <%= link_to "Created " + (status.created_at.to_time.strftime('%B %e at %l:%M %p')), status %>
            <% if status.user == current_user %>
              <span class="admin">
                | <%= link_to 'Edit', edit_status_path(status) %> |
                <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            <% end -%>
          </div>
        </div>
        </br>
      </div>
    </div>
  <% end -%>
<% end %>


